.read_more
{
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(105 64 175);
  border-radius: 5px;
  color: white;
  /* font-weight: bold; */
}

.blog_text
{
    margin-bottom: 10px;
}

/* .blog_title
{
   margin-top: 15px;
} */

/* .btn_con
{
  margin-bottom: 15px;
} */

.col_con
{
    border: 1px solid rgb(55, 65, 81); 
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 25px;
}